#
# Copyright (C) 2012-2013 Designture
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#

config 32BIT
	bool

config 64BIT
	bool

config SYS_SUPPORTS_LITTLE_ENDIAN
	bool

config SYS_SUPPORTS_BIG_ENDIAN
	bool

config TOOLCHAIN_LLVM
	bool

config TOOLCHAIN_GCC
	bool

# For LAOS compatibility.
config ARCH_X86
	bool
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select TOOLCHAIN_LLVM

choice
	prompt "Architecture"
	default ARCH_AMD64

config ARCH_AMD64
	bool "AMD64"
	select 64BIT
	select ARCH_X86
	help
	  Target the built system to 64-bit x86 processors.

endchoice

config ARCH
	string
	default "amd64" if ARCH_AMD64
	default "mips" if ARCH_MIPS

config BOOTARCH
	string
	default "x86" if ARCH_AMD64
	default ARCH

config TOOLCHAIN_TARGET
	string
	default "x86_64-pulsar" if ARCH_AMD64

config ARCH_ASFLAGS
    string
    default ""

config ARCH_CCFLAGS
	string
	default ""

choice
    prompt "Endianness"
    default LITTLE_ENDIAN

config BIG_ENDIAN
    bool "Big endian"
    depends on SYS_SUPPORTS_BIG_ENDIAN

config LITTLE_ENDIAN
    bool "Little endian"
    depends on SYS_SUPPORTS_LITTLE_ENDIAN

endchoice
